/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@font-face {
  font-family: 'Work Sans';
  src: url('./Assets/fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;       /* horizontal centering */
  justify-content: center;   /* vertical centering */
  min-height: 100vh;         /* make it full-screen height */
  padding: 5px;          
  padding-right: 10px;
  padding-left: 10px;  
}
.centered {
  display: flex;
  flex-direction: column;    /* stack Header → panel-row → BottomPanel */
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
